.group:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .white {
    background-color: white!important;
  }
  body.about .navbar{
    background:white!important;
    transition: 1s;
    border-bottom: 1px solid #fdfdfd;
  }
  body.about .navbar a.navbar-brand
  {
    color: #454544!important;
    text-shadow: none;
  }
  body.about .navbar a.nav-link
   {
    color: #000!important;
   }
  .sec66
  {
    height: 100vh!important;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    margin-left: 0;
  }
  .sec66 img
  {
    width: 100%;
    height: 100%;
    position: center;
    object-fit: cover;
  }
  .sec77 .container
  {
    padding-top: 60px;
    padding-bottom: 90px;
    background: #fff;
    display: block;
    line-height: 25px;
    word-spacing: 3px;
  }
  .sec77 h1
  {
    padding-bottom: 50px;
    text-align: center;
  }
  .sec77 h1 span
  {
    border-bottom:1px solid #cececc;
    padding-bottom: 10px;
  }
  .bottom-border
  {
    width: 100%;
    border-bottom: 1px solid #fdfdfd;
  }
  .sec88 .container
  {
    margin-right: 10px;
  }
  .sec88 .container .employees
  {
    padding-bottom: 70px;
    display: border-box;
  }
  .sec88 h1
  {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .sec88 .card
  {
    text-align: center;
    float: left;
    height: 400px;
    line-height: 11px;
    padding: 0;
    margin: 3px 20px 10px 20px;
  }
  .sec88 .card p.p2
  {
    font-weight: 400;
  }
  .sec88 .card img
  {
    display: block;
    height: 320px;
    width: 100%;
    padding-bottom: 30px;
    object-fit: cover;
  }
  .sec99
  {
    background: #fff;
    display: inline-block;
  }
  .sec99 h1
  {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .sec99 .logos
  {
      display: inline-block;
      padding-bottom: 72px;
  }